<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="btn btn-primary">Learn Now</div>
        </div>
        <div class="col-lg-9">
             <img class="card-img-top" src="{{courses.image}}" alt="Card image cap">
            <h2>{{courses.name}}</h2>
            <p>{{courses.description}}</p>
        </div>
    </div>
</div>