<head>
    
</head>

<body>
    <div class="container">    
        <main>
            {{!-- Landing page --}}
            <section class="section-1">
                <div class="phrase">
                    <p>
                        Delivering quality learning content </br>
                        with simplicity in mind</br>
                    </p>
                    
                </div>
                <button class="btn join-btn" type="button">Join for Free</button>
            </section>
            {{!-- Features of the website will be shown here --}}
            <section class="section-2">
                <h1 class="preview-title">
                    This is where we explain what this company is about / pitch to potential customers.</br>
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Expedita maiores reiciendis officia voluptatum vitae ducimus nihil, tempora consectetur fuga doloremque, 
                </br>id quaerat rerum quam. Fugit eligendi doloribus accusamus qui sit?</p>
            </section>
            <section class="preview-container">
                <header>
                    <h1>Just some of the available courses</h1>
                    <button>View All</button>
                </header>
                {{!-- A preview of some of the courses available --}}
                <section class="course-cards">
                    <div class="img-card">
                        <img src="/images/css.png" alt="css"/>
                        <p>
                          CSS
                        </p>
                      </div>
                      <div class="img-card">
                        <img src="/images/css.png" alt="css"/>
                        <p>
                          CSS
                        </p>
                      </div>
                      <div class="img-card">
                        <img src="/images/css.png" alt="css"/>
                        <p>
                          CSS
                        </p>
                      </div>
                      <div class="img-card">
                        <img src="/images/css.png" alt="css"/>
                        <p>
                          CSS
                        </p>
                      </div>
                      <div class="img-card">
                        <img src="/images/css.png" alt="css"/>
                        <p>
                          CSS
                        </p>
                      </div>
                      <div class="img-card">
                        <img src="/images/css.png" alt="css"/>
                        <p>
                          CSS
                        </p>
                      </div>
                </section>
            </section>
        </main>

