<div class="container">    
        <main>
            <section class="banner">
                <div class="phrase">
                    <p>
                        Delivering quality learning content </br>
                        with simplicity in mind</br>
                    </p>
                    
                </div>
                <button class="btn join-btn" type="button">Join for Free</button>
            </section>

            <section class="features">
                <div class="feature-card">
                    <img class = feature-image src="/img/pexels-cottonbro-5054213.jpg" alt="placeholder" width="400px" height="400px">
                    <div>
                        <h1 class="feature-title">
                            This is where we explain what this company is about / pitch to potential customers.</br>
                        </h1>
                        <p class = "feature-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Expedita maiores reiciendis officia voluptatum vitae ducimus nihil, tempora consectetur fuga doloremque, 
                        </br>id quaerat rerum quam. Fugit eligendi doloribus accusamus qui sit?
                        </p>

                        <p class = "feature-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Expedita maiores reiciendis officia voluptatum vitae ducimus nihil, tempora consectetur fuga doloremque, 
                            id quaerat rerum quam. Fugit eligendi doloribus accusamus qui sit?
                        </p>
                    </div>
                </div>
                <div class="feature-card">
                    <div>
                        <h1 class="feature-title">
                            This is where we explain what this company is about / pitch to potential customers.</br>
                        </h1>
                        <p class = "feature-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Expedita maiores reiciendis officia voluptatum vitae ducimus nihil, tempora consectetur fuga doloremque, 
                            id quaerat rerum quam. Fugit eligendi doloribus accusamus qui sit?
                        </p>
                    </div>
                    <img class = feature-image src="/img/pexels-cottonbro-5054213.jpg" alt="placeholder" width="400px" height="400px">
                </div>
                <div class="feature-card">
                    <img class = feature-image src="/img/pexels-cottonbro-5054213.jpg" alt="placeholder" width="400px" height="400px">
                    <div>
                        <h1 class="feature-title">
                            This is where we explain what this company is about / pitch to potential customers.</br>
                        </h1>
                        <p class = "feature-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Expedita maiores reiciendis officia voluptatum vitae ducimus nihil, tempora consectetur fuga doloremque, 
                            id quaerat rerum quam. Fugit eligendi doloribus accusamus qui sit?
                            
                            <ul class="example-list">
                                <li>List item one</li>
                                <li>List item two</li>
                                <li>List item three</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </section>

            <section class="preview-container">
                <header>
                    <h1>Some of the available courses</h1>
                    <button>View All</button>
                </header>
                <section class="course-cards">
                    <div class="img-card">
                        <img src="/img/css.png" alt="css"/>
                        <p>
                        CSS
                        </p>
                    </div>
                    <div class="img-card">
                        <img src="/img/css.png" alt="css"/>
                        <p>
                        CSS
                        </p>
                    </div>
                    <div class="img-card">
                        <img src="/img/css.png" alt="css"/>
                        <p>
                        CSS
                        </p>
                    </div>
                    <div class="img-card">
                        <img src="/img/css.png" alt="css"/>
                        <p>
                        CSS
                        </p>
                    </div>
                    <div class="img-card">
                        <img src="/img/css.png" alt="css"/>
                        <p>
                        CSS
                        </p>
                    </div>
                    <div class="img-card">
                        <img src="/img/css.png" alt="css"/>
                        <p>
                        CSS
                        </p>
                    </div>
                </section>
            </section>
        </main>
    </div>