  <footer>
            <img class="footer-icon" src="/img/index.png">
        
            <div class ="footer-links">
                <a href="#">About Us</a>
                <a href="#">FAQ</a>
                <a href="#">Contact</a>
                <a href="#">Forums</a>
                <a href="#">Careers</a>
                <a href="#">Students</a>
                <a href="#">Teachers</a>
                <a href="#">Catalog</a>
                <a href="#">Affiliates</a>
            </div>
        
            <div class="social-media-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        
            <script src="https://kit.fontawesome.com/7d78f6e189.js" crossorigin="anonymous"></script>
        </footer>