<footer>
    <img class="footer-icon" src="../../public/img/index.png" width="100" height="100">

    <div class ="footer-links">
        <a href="#">FAQ</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Forums</a>
        <a href="#">placeholder</a>
        <a href="#">placeholder</a>
        <a href="#">placeholder</a>
    </div>

    <div class="social-media-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>

    <script src="https://kit.fontawesome.com/7d78f6e189.js" crossorigin="anonymous"></script>
</footer>