<<<<<<< HEAD
<main>
    <header>
        <nav class="landing">
            <div>
                <h1>Learning Academy</h1>
            </div>
            <div>
                <ul>
                    <li><a href="/home">Courses</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="/me/stored/courses">Teachers</a></li>
                    <li><a href="/me/stored/courses">Students</a></li>
                    <li><a href="/contact">Support</a></li>
                </ul>
            </div>
        </nav>
    </header> 
</main>
=======
<header>
    <div>
        <h1>Learning Academy</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Courses</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Teachers</a></li>
            <li><a href="#">Students</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </nav>
</header> 
>>>>>>> 04530dcd31bec41ae8b983cdf37afc2f3f38cb56
